
body {
  padding: 0; margin: 0;
  background: #fefefe;
  color: #111;
  overflow: hidden;
}

.about {
  position: fixed;
  top: 10px; right: 10px;
  font-size: 14px;
  text-align: right;
  line-height: 1.4;
}

.title {
  font-weight: bold;
}

.artist a {
  color: rgb(0, 0, 255);
  text-shadow: 1px 1px 6px rgba(0, 0, 255, 0.1);
  text-decoration: none;
}
  .artist a:hover, .artist a:focus {
    text-decoration: underline;
  }

.instructions {
  position: fixed;
  bottom: 6px; right: 6px;
  font-size: 12px;
  line-height: 1.75;
  text-align: right;
  font-family: monospace;
}

.instruction {
  cursor: pointer;
}
  .instruction:hover, .instruction:focus {
    font-style: italic;
  }

.transparent {
  opacity: 0;
}

.loading-indicator {
  position: fixed;
  left: 50%; width: 300px; margin-left: -150px;
  top: 50%; height: 300px; margin-top: -150px;
  border-radius: 150px;
  line-height: 300px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  background-color: white;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.25);
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
  z-index: 1;

  transition: transform 3s linear, opacity 1s linear;
}

.big-button {
  cursor: pointer;
  color: transparent;
  background-color: #e60022;
  background-image:
    linear-gradient(167deg, rgba(255, 255, 255, 0.1) 50%, rgba(0, 0, 0, 0) 55%),
    linear-gradient(top, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0));

  user-select: none;
  -webkit-user-select: none;

  box-shadow:
    0 0 0 1px #be001c inset,
    0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 8px 0 0 #a30101,
    0 8px 0 1px rgba(0, 0, 0, 0.4),
    0 8px 8px 1px rgba(0, 0, 0, 0.5);

  height: 210px; width: 210px;
  border-radius: 105px;

  position: absolute;
  top: 20px;
  left: 20px;

  transition: 0.2s all;
}
  .big-button:hover, .big-button:focus {
    background-color: #f9062b;
    box-shadow:
      0 0 0 1px #be001c inset,
      0 0 0 2px rgba(255, 255, 255, 0.15) inset,
      0 10px 0 0 #a30101,
      0 10px 0 1px rgba(0, 0, 0, 0.4),
      0 10px 8px 1px rgba(0, 0, 0, 0.6);

    top: 18px;
  }

  .big-button:active {
    box-shadow:
      0 0 0 1px #a30101 inset,
      0 0 0 2px rgba(255, 255, 255, 0.15) inset,
      0 0 0 1px rgba(0, 0, 0, 0.4);

    transform: translateY(10px);
  }

@media (max-width: 600px) {
  .about {
    font-size: 11px;
  }

  .big-button {
    height: 100px; width: 100px;
    border-radius: 50px;

    top: auto;
    bottom: 20px;
  }
    .big-button:hover, .big-button:focus {
      top: auto;
      bottom: 22px;
    }
}
